---
import fetchApi from '../lib/strapi';
import type Article from '../interfaces/article';

import { Debug } from 'astro/components';
const user = { name: 'Astro', type: 'Framework' };

const articles = await fetchApi<Article[]>({
  endpoint: 'posts?populate=media',
  wrappedByKey: 'data',
});
---
<!-- <Debug {articles} /> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strapi & Astro</title>
  </head>

  <body>
    <main>
      <ul>
        {
          articles.map((article) => (
            <li>
              <a href={`/blog/${article.slug}/`}>
                {article.attributes.title}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>